<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv='Content-Type' content='text/html;charset=UTF-8'/>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="resources/sap-ui-core.js"
				id="sap-ui-bootstrap"
				data-sap-ui-libs="sap.m"
				data-sap-ui-theme="sap_bluecrystal">
		</script>
		<!-- only load the mobile lib "sap.m" and the "sap_bluecrystal" theme -->

		<script>
			
		</script>

	</head>
<body class="sapUiBody" role="application">
<div class="content">
    <div class="header">
        <div class="titleUp">Warehouse</div>
        <div class="icon">
            <div class="one">
                <div class="img">
                    <img alt="1" src="images/shippments.png"></div>
                <div class="data">
                    <p>12 Shipments Today</p></div>
            </div>
            <div class="two">
                <div class="img">
                    <img alt="1" src="images/picked.png"></div>
                <div class="data">
                    <p>12 Picked</p>

                    <p>fsdf</p></div>
            </div>
            <div class="three">
                <div class="img">
                    <img alt="1" class="img" src="images/shipped.png"></div>
                <div class="data">
                    <p>12 Shipped</p>

                    <p>gsdfg</p></div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="warehouse">
        <div class="left">
            <div class="up">
                <div class="title">WareHouse</div>
                <div class="img">
                    <img alt="2" src="images/warehouse_logo.png" style="width:90%;height:150px;">
                </div>
                <div class="data">
                    <p class="num">4202</p>

                    <p>Pallet</p>
                </div>
            </div>
            <div class="down">
                <div class="title">Shipment Area</div>
                <div class="img">
                    <img alt="2" src="images/shipping_logo.png" style="width:90%;height:150px;">
                </div>
                <div class="data">
                    <p class="num">4202</p>

                    <p>Pallet</p>
                </div>

            </div>
            <!--<table>-->
            <!--<tr>-->
            <!--<td colspan="2">-->
            <!--<div class="title">WareHouse</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>-->
            <!--<div class="img">-->
            <!--<img alt="2" src="images/warehouse_logo.png">-->
            <!--</div>-->
            <!--</td>-->
            <!--<td>-->
            <!--<div>-->
            <!--<p class="data">4202</p>-->
            <!--<p>Pallet</p>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td colspan="2">-->
            <!--<div class="title">Shipment Area</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>-->
            <!--<div class="img">-->
            <!--<img alt="2" src="images/shipping_logo.png">-->
            <!--</div>-->
            <!--</td>-->
            <!--<td>-->
            <!--<div>-->
            <!--<p class="data">4202</p>-->
            <!--<p>Pallet</p>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</table>-->
        </div>
        <div class="rightPart">
        <div class="right">
            <div class="range">
                <p>Dock 01</p>

                <div class="progress">
                    <div class="yellow"></div>
                    <div class="white"></div>
                    <div class="green"></div>
                </div>
            </div>
            <div class="scan"><img alt="3" src="images/scanner.png"></div>
            <div class="data"><span>4202</span>
            </div>
        </div>
        <div class="right">
            <div class="range">
                <p>Dock 01</p>

                <div class="progress">
                    <div class="yellow"></div>
                    <div class="white"></div>
                    <div class="green"></div>
                </div>
            </div>
            <div class="scan"><img alt="3" src="images/scanner.png"></div>
            <div class="data"><span>4202</span>
            </div>
        </div>
        <div class="right">
            <div class="range">
                <p>Dock 01</p>

                <div class="progress">
                    <div class="yellow"></div>
                    <div class="white"></div>
                    <div class="green"></div>
                </div>
            </div>
            <div class="scan"><img alt="3" src="images/scanner.png"></div>
            <div class="data"><span>4202</span>
            </div>
        </div>
        <div class="right">
            <div class="range">
                <p>Dock 01</p>

                <div class="progress">
                    <div class="yellow"></div>
                    <div class="white"></div>
                    <div class="green"></div>
                </div>
            </div>
            <div class="scan"><img alt="3" src="images/scanner.png"></div>
            <div class="data"><span>4202</span>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>